.character-page {
    width: 100%;
}

.pagination-controls {
    width: 100%;
    padding: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.pagination-controls button {
    min-width: 150px;
    padding: 0.75em 1em;
    border-radius: 8px;
    color: var(--bg-color);
    background-color: var(--main-color);
}

.list-character {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: space-around;
}

.character {
    cursor: pointer;
    background: #e8e8e8;
    padding: 1.75em;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #dfdfdf, -5px -5px 10px #f1f1f1;
    transition: 0.15s;
}

.character:hover {
    background: #e8e8e8;
    box-shadow: 25px 25px 50px #c3c3c3, -25px -25px 50px #ffffff;
}

.character img {
    border-radius: 8px;
    margin-bottom: 10px;
}
