header {
    z-index: 9;
    width: 100%;
    background: url(../../assets/img/rickmorty.png) no-repeat center;
    background-size: cover;
    border-radius: 8px;
}

#navBar {
    width: 100%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

#navBarLinks {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#navBarLinks > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
}

.nav-link {
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

#navBarSearch {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.15s;
}

#navBarSearch:hover {
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.35);
}

#navBarSearch input,
#navBarSearch button {
    padding: 0.75em 1em;
}

#navBarSearch input {
    border-radius: 8px 0 0 8px;
}

#navBarSearch button {
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    background-color: #a3a17f;
    transition: 0.15s;
}

#navBarSearch button:hover {
    cursor: pointer;
    background-color: #b4b04a;
}

#navBarSearch button:active {
    background-color: #2a963d;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

#navBarSearch input:hover ~ ul,
#navBarSearch input:focus ~ ul,
#navBarSearch ul:hover,
#navBarSearch ul:focus {
    display: flex;
}

#navBarSearch ul {
    position: absolute;
    top: 100%;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: var(--bg-color);
    padding: 0.5em;
    display: none;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

#navBarSearch ul li {
    height: fit-content;
    width: 100%;
}
#navBarSearch ul li a {
    width: 100%;
    font-size: 16px;
    text-align: center;
}
