header {
    z-index: 9;
    width: 100%;
    background: url(../../assets/img/rickmorty.png) no-repeat center;
    background-size: cover;
    border-radius: 8px;
}

#navBar {
    width: 100%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

#navBarLinks {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#navBarLinks > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
}

.nav-link {
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

#navBarSearch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.15s;
}

#navBarSearch:hover {
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.35);
}

#navBarSearch input,
#navBarSearch button {
    padding: 0.75em 1em;
}

#navBarSearch input {
    border-radius: 8px 0 0 8px;
}

#navBarSearch button {
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    background-color: #a3a17f;
}

#navBarSearch button:hover {
    cursor: pointer;
    background-color: #b4b04a;
}
                                                     /* CSS */
#navBarSearch button:active {
    background-color: #2a963d;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
